alembic==1.4.2
amqp-worker==0.2
axial-positional-embedding==0.2.1
certifi==2020.4.5.1
cloudpickle==1.4.1
cycler==0.10.0
Cython==0.29.17
decorator==4.4.2
diff-match-patch==20120106
dill
docutils
future
h5py
imageio
imgaug
joblib
kiwisolver
lockfile
Mako
MarkupSafe
matplotlib
mkl-service
multiprocess
networkx
numpy
opencv-contrib-python
opencv-python
p-tqdm
pandas
pathos
pika
Pillow
pox
ppft
product-key-memory
progressbar
progressbar2
pyasn1
pyasn1-modules
pyparsing
python-daemon
python-dateutil
python-editor
python-utils
pytz
PyWavelets
scikit-image
scikit-learn
scipy
Shapely
six
SQLAlchemy
submitit
tabulate
thop
threadpoolctl
tifffile
torch
torchvision
tqdm
typing-extensions
ujson
